:root {
    /* font-size */
    --fs-14: 14px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-22: 22px;
    --fs-23: 20px;
    --fs-24: 24px;
    --fs-25: 24px;
    --fs-28: 28px;
    --fs-36: 36px;
    --fs-48: 48px;
    --fs-70: 70px;
    --fs-138: 138px;
    /* color */
    --cl-494336: #494336;
    --cl-grey: rgba(217, 217, 217, 0.50);

}

/* font-size */
.fs-14 {
    font-size: var(--fs-14);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-138 {
    font-size: var(--fs-138);
}

/* color */
.text-gray {
    color: #d7d9dd !important;
}

.cl-grey {
    color: rgba(217, 217, 217, 0.50);
}


.cl-494336 {
    color: var(--cl-494336);
}

@media (max-width:1240px) {
    :root {
        --fs-70: 50px;
    }
}

@media (max-width:992px) {
    :root {
        /* font size */
        --fs-20: 16px;
        --fs-22: 14px;
        --fs-23: 14px;
        --fs-28: 16px;
        --fs-36: 24px;
        --fs-48: 30px;
        --fs-18: 14px;
        --fs-70: 40px;
        --fs-24: 16px;
    }
}

@media (max-width:540px) {
    :root {
        --fs-48: 24px;
        --fs-70: 32px;
    }
}