* {
    box-sizing: border-box;
}

.avantt {
    font-family: "avantt-bold";
}

.roboto {
    font-family: "Roboto Mono",
        serif;
}

.containor {
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 50px;
}

.containor-2 {
    max-width: 1440px;
    margin: 0px 0px;
    padding: 0px 180px;
}

.trans-03 {
    transition: all 0.3s ease-in-out;
}

.book-bg {
    border-radius: 27.917px;
    background: var(--Gradient-02, linear-gradient(90deg, #FFA280 0%, #8FD9D9 100%));
}

.hero-bg {
    background-image: url(../img/png/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dog-grad {
    background: linear-gradient(180deg, #FFA280 0%, #8FD9CB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Accordion item styles */
.accordion-item {
    margin-bottom: 0px;
    padding-bottom: 32px;
}

.border-bottom {
    background: linear-gradient(90deg, #FFA280 0%, #8FD9CB 100%);
    border: 1px solid transparent;

    border-image: linear-gradient(90deg, #FFA280 0%, #8FD9CB 100%) 1;

}

.accordion-header {
    padding-top: 32px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
}

.accordion-body {
    padding-top: 30px;
    display: none;
    font-size: 18px;
    color: #494336;
    max-width: 1080px;
}

/* Rotate the icon when the accordion is active */
.accordion-header svg {
    transition: transform 0.4s ease;
}

.accordion-header.active svg {
    transform: rotate(45deg);
}


.h-419 {
    height: 419px;
}

.h-420 {
    height: 420px;
}

.h-465 {
    height: 465px;
}

.h-471 {
    height: 471px;
}

/* color */
.bg-494336 {
    background-color: #494336;
}

.bg-fff {
    background-color: #fff;
}

.bg-grey {
    background: var(--Grey-2, rgba(215, 217, 221, 0.50));
}

/* hover */
.nav:hover {
    color: white;
}

.facebook:hover {
    transform: translateY(10px);

}

/* gap */
.gap-51 {
    gap: 51px;
}

.gap-60 {
    gap: 60px;
}

.gap-66 {
    gap: 66px;
}

.gap-70 {
    gap: 70px;
}

.gap-105 {
    gap: 105px;
}

/* max-width */
.w-310 {
    width: 310px;
}

.mn-wi-30 {
    min-width: 30px;
}


.mx-wi-109 {
    max-width: 89px;
}

.mx-wi-114 {
    max-width: 114px;
}

.mx-wi-163 {
    max-width: 165px;
}

.mx-wi-170 {
    max-width: 205px;
}

.mx-wi-215 {
    max-width: 230px;
}

.mx-wi-231 {
    max-width: 220px;
}

.mx-wi-374 {
    max-width: 374px;
}

.mx-wi-420 {
    max-width: 420px;
}

.mx-wi-480 {
    max-width: 480px;
}

.mx-wi-511 {
    max-width: 511px;
}

.mx-wi-525 {
    max-width: 525px;
}

.mx-wi-528 {
    max-width: 528px;
}

.mn-wi-600 {
    min-width: 600px;
}

.mx-wi-700 {
    max-width: 700px;
}

.mx-wi-560 {
    max-width: 560px;
}

.mx-wi-584 {
    max-width: 584px;
}

.mx-wi-590 {
    max-width: 590px;
}

.mx-wi-600 {
    max-width: 600px;
}

.mn-wi-620 {
    max-width: 620px;
}

.mx-wi-639 {
    max-width: 639px;
}

.mx-wi-700 {
    max-width: 700px;
}

.mx-wi-770 {
    max-width: 770px;
}

.mx-wi-820 {
    max-width: 820px;
}

.mx-wi-843 {
    max-width: 843px;
}

.mx-wi-1080 {
    max-width: 950px;
}

/* padding */
.px-32 {
    padding-inline: 32px;
}

.px-50 {
    padding-inline: 50px;
}

.px-70 {
    padding-inline: 70px;
}

.px-180 {
    padding-inline: 180px;
}

.px-72-50 {
    padding-inline: 72px 50px;
}

.pt-60 {
    padding-top: 45px;
}

.pt-80 {
    padding-top: 80px;
}

.px-180-80 {
    padding-inline: 180px 80px;
}

.px-180-70 {
    padding-inline: 180px 70px;
}

.px-115-33 {
    padding-inline: 115px 33px;
}

.py-193-85 {
    padding-block: 193px 85px;
}

.py-35-60 {
    padding-block: 35px 80px;
}

.py-80-140 {
    padding-block: 80px 140px;
}

.py-140-82 {
    padding-block: 140px 82px;
}

.py-80-80 {
    padding-block: 80px 80px;
}

.py-80 {
    padding-block: 80px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-59 {
    padding-bottom: 59px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-72 {
    padding-bottom: 72px;
}

.pb-80 {
    padding-bottom: 80px;
}

.p-25-39-128-20 {
    padding: 25px 39px 128px 20px;
}

.p-25-16-128-20 {
    padding: 25px 16px 128px 20px;
}

.p-34-21-57-48 {
    padding: 34px 21px 57px 48px;
}

/* margin */
.mx-150-30 {
    margin-inline: 150px 30px;
}

.ml-180 {
    margin-left: 180px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-65 {
    margin-top: 65px;
}

.mb-82 {
    margin-bottom: 82px;
}


.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-59 {
    margin-top: 59px;
}

.mt-79 {
    margin-top: 79px;
}

.mt-82 {
    margin-top: 82px;
}

.mt-90 {
    margin-top: 90px;
}

.-mt-60 {
    margin-top: -80px;
}

.-mt-265 {
    margin-top: -265px;
}